.plus-sign {
  cursor: pointer;
}

.minus-sign {
  cursor: pointer;
}

.margin-left-40 {
  margin-left: -40px;
}

.billing_css {
  display: flex;
  justify-content: center;
}

#tr {
  cursor: pointer;
}

.translate-x {
  transform: translateX(15%);
}

.pera i {
  font-size: 5rem;
}
.orderTitleModal {
  font-size: 1.6rem;
}

.shadow-box {
  box-shadow: 0 0 5px #a9a9a9;
  margin-bottom: 20px;
}

.btn-center {
  margin: 10px 0 0 210px;
}

.BD-title {
  margin-top: 20px;
}
